:root {
  --primary: #454140;
  --primary-text: #ffffff;
  --secondary: rgba(0, 70, 0, 0.9);
  --secondary-text: #ffffff;
  --accent: rgba(0, 0, 0, 0.7);
  --accent-text: #ffffff;
  --accent-Texttype1: #ff0000;
}
